@font-face {
  font-family: TTNorms-Bold;
  src: url(/assets/fonts/TTNorms/TTNorms-Bold.eot); /* Для IE5-8 */
  src: local(TTNorms-Bold), url(/assets/fonts/TTNorms/TTNorms-Bold.ttf); /* Для остальных браузеров */
}
@font-face {
  font-family: TTNorms-Regular;
  src: url(/assets/fonts/TTNorms/TTNorms-Regular.eot); /* Для IE5-8 */
  src: local(TTNorms-Regular), url(/assets/fonts/TTNorms/TTNorms-Regular.ttf); /* Для остальных браузеров */
}
@font-face {
  font-family: TTNorms-Light;
  src: url(/assets/fonts/TTNorms/TTNorms-Light.eot); /* Для IE5-8 */
  src: local(TTNorms-Light), url(/assets/fonts/TTNorms/TTNorms-Light.ttf); /* Для остальных браузеров */
}
@font-face {
  font-family: TTNorms-Medium;
  src: url(/assets/fonts/TTNorms/TTNorms-Medium.eot); /* Для IE5-8 */
  src: local(TTNorms-Medium), url(/assets/fonts/TTNorms/TTNorms-Medium.ttf); /* Для остальных браузеров */
}
.left-image{
    background-image: url(/assets/img/auth.png); /* Путь к фоновому изображению */
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white; /* Цвет фона */
}
.panel{
  padding: 65px 60px;
  margin: auto;
  height: 100%;
  max-width: 460px;
}
.description{
  font-family: TTNorms-Light;
  font-size: 16px;
  color: #676671;
  letter-spacing: -0.33px;
  line-height: 25px;
  margin:20px 0 60px 0;
}
.container{
  padding:0;
  height:  100%;
  margin:0;
  /*background-image: url(/assets/img/auth.png); /* Путь к фоновому изображению */
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white; /* Цвет фона */
}
.column-left, .column-right{
  padding:0;
  margin:0;
  height:  100%;
  background: #FFFFFF;
}
.column-left{
  display: table;
    table-layout: fixed;
}
body {
  background: #FFFFFF;
}
html, body {
  margin: 0;
  height: 100%;
  font-family: TTNorms-Light;
}

 input[type=text],
 input[type=password],
 input[type=email]{
     padding:18px;
     width: 100%; /*450px;*/
     max-width: 450px;
     height: 52px;
     border: 1px solid rgba(0, 0, 0, 0.2);
     border-radius: 7px;
     margin: 0;
     margin-bottom: 10px;
     
     font-family: TTNorms-Light;
     font-size: 16px;
     color: #20202D;
     letter-spacing: -0.33px;
     line-height: 25px;
 }
 .btn-main {
   background: #4948E4;
     border-radius: 7px;
     font-family: TTNorms-Bold;
     font-size: 14px;
     color: #FFFFFF;
     letter-spacing: -0.29px;
 
      text-transform: uppercase;
      padding: 18px;
      width: 165px;
      transition: box-shadow .28s cubic-bezier(.4,0,.2,1);
 }
 
 .btn-main:hover {
     color: #FFFFFF;
   box-shadow: 0 1px 6px rgba(0,0,0,.4);
 }
 
 .btn-main:active {
     color: #FFFFFF;
   box-shadow: 0 5px 11px rgba(0,0,0,.4);
 }
 
 .btn-main:focus,
 .btn-main:active {
     color: #FFFFFF;
   outline: 0 !important;
 }
 .sp1, .sp2{
   text-transform: uppercase;
  font-size: 25px;
  color: #20202D;
  letter-spacing: -0.52px;
  margin: 0;
  padding: 0;
 }
 .sp1{
  font-family: TTNorms-Light;
 }
 .sp2{
  font-family: TTNorms-Bold;
 }
 .message{
   display: inline;
  text-transform: uppercase;
  border-radius: 7px;
  margin: 0;
  padding: 18px;
  margin-left: 5px;
  font-family: TTNorms-Regular;
font-size: 14px;
color: #4948E4;
letter-spacing: -0.29px;
text-align: center;
 }
 td{   
  vertical-align: top;
 }
 .img{   
   height: 100%;
   width:70%;
  background-image: url(/assets/img/auth.png); /* Путь к фоновому изображению */
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white; /* Цвет фона */
 }
 table{
  width: 100%;
   height: 100%;
 }

 
@media screen and (min-width: 780px) {
  .img{   
    display: table-cell;
  }
 }
 @media screen and (max-width: 780px) {   
  .img{   
    display: none;
  }
 }