input{
	width: 100%;
}
select{
	width: 100%;
}
h1{
	margin: 15px;
}


td a {
	text-decoration: none;
	font-weight: bolder;
	color: black;
}
td a:hover {
	text-decoration: none;
}

#container {
	width: 70px;
	height: 25px;
	position: relative;
	border-radius: 6px;
	overflow: hidden;
	user-select: none;
	cursor: pointer;
}

.inner-container {
	position: absolute;
	left: 0;
	top: 0;
	width: inherit;
	height: inherit;
	text-transform: uppercase;
	font-size: .6em;
	letter-spacing: .2em;
}

.inner-container:first-child {
	background: #e9e9e9;
	color: #a9a9a9;
}

.inner-container:nth-child(2) {
	background: dodgerblue;
	color: white;
	clip-path: inset(0 50% 0 0);
	transition: .3s cubic-bezier(0,0,0,1);
}

.toggle {
	width: 50%;
	position: absolute;
	height: inherit;
	display: flex;
	box-sizing: border-box;
}

.toggle p {
	margin: auto;
}
.toggle p i {
	font-size: 16px;
}

.toggle:nth-child(1) {
	right: 0;
}

.dasgg input{
	float: left;
	display: block;
	padding: 5px;
	width: 115px;
}

.check-btn span.glyphicon {    			
	opacity: 0;				
}
.check-btn.active span.glyphicon {				
	opacity: 1;				
}
.list-item{	
    background: #FFFFFF;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 4px 0 rgba(0,0,0,0.10);
    border-radius: 7px;
    margin: 0 0 15px 0;
}
.page-sub-title{
	font-family: TTNorms-Bold;
	font-size: 16px;
	color: #20202D;
	letter-spacing: 0;
	line-height: 24px;
}
.page-address{
	font-family: TTNorms-Light;
	font-size: 16px;
	color: #676671;
	letter-spacing: -0.33px;
	line-height: 25px;
}
.page-table{
	width:100px;
	margin-bottom: 0;
}
.page-table thead tr th{
	opacity: 0.3;
	font-family: TTNorms-Light;
	font-size: 14px;
	color: #000000;
	letter-spacing: -0.29px;
	padding-right: 45px;
}
.page-description{
	font-family: TTNorms-Light;
	font-size: 16px;
	color: #676671;
	letter-spacing: -0.33px;
	line-height: 25px;
}
.page-cost{
	font-family: TTNorms-Bold;
	font-size: 21px;
	color: #20202D;
	letter-spacing: 0;

	text-align: right;
	position: relative;
	margin: 0;
	height: 0px;
}
a:hover{
	text-decoration: none;
}
div#side_block {
	position:absolute;
}
#total-count-by-filter{
	font-family: TTNorms-Light;
	font-size: 16px;
	color: #676671;
	letter-spacing: -0.33px;
	line-height: 25px;
	margin: 0 0 15px 0;
}
.label{
	padding:8px 0 0 0 ;
}
#send{
	margin: 20px 0 0 0;
}
.spoiler-trigger{
	padding:5px 0 0 0;
	margin: 5px 0 0 0;
}

#footer-report-create{
	background: white;
}
#footer-report-create .btn-main{
	margin:0;
	padding: 10px 15px;
}
#showMoreBtn{
	margin-bottom: 80px;
}
#reportResultMobile{
	text-align: center;
}
#reportResultMobile a{
	padding:20px;
	margin:auto;
	text-decoration: none;
}
@media screen and (max-width: 350px) {   
	.btn-main{
		padding: 5px 10px;
		font-size: 12px;
	}
	.checkbox-container{
		font-size: 12px;
		margin-bottom: 0;
		padding-left: 25px;
	}
	.checkmark{
		height: 20px;
		width: 20px;
	}
	.btn {
		font-size: 12px;
		padding: 10px;
	}
}
@media screen and (max-width: 991px) {   
	#vk_community_messages{
		margin-bottom: 55px !important;
	}
}