 .container{
  width: 80%;
  margin: auto;
  padding: 0px;
}
.blog-post{
  min-height: 150px;
  background: #FFFFFF;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 4px 0 rgba(0,0,0,0.10);
  border-radius: 7px;
  margin-bottom: 15px;
  padding: 20px;
}

.post-title{
  font-weight: 500;
  font-size: 16px;
  color: #20202D;
  letter-spacing: -0.33px;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}
.post-content{
  font-family: 'TT Norms';
  font-size: 16px;
  color: #676671;
  letter-spacing: -0.33px;
  line-height: 25px;
  margin: 0;
  padding: 0;
  font-weight: 300;
}

li {
list-style-type: none; /* Убираем маркеры */
}
ul {
margin-left: 0; /* Отступ слева в браузере IE и Opera */
padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
}
.banner{
  width: 365px;
  height: 485px;
  background: #4948E4;
  border-radius: 7px;
}
.banner-title{
  font-family: 'TT Norms Medium';
  font-size: 24px;
  color: #FFFFFF;
  letter-spacing: -0.5px;
  padding: 0;
  margin: 0 20px 10px 20px;
}
.banner p{
  font-family: 'TT Norms Regular';
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: -0.33px;
  line-height: 25px;
  padding: 0;
  margin: 0 20px 10px 20px;
}
.banner-btn{
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;

  font-family: 'TT Norms Bold';
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: -0.29px;
}
.banner-btn:hover{
  text-decoration: none;
  font-family: 'TT Norms Bold';
  font-size: 14px;
  color: rgba(255, 255, 255, 0.829);
  letter-spacing: -0.29px;

}
.banner-btn div{
  height: 52px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 7px;
  margin: 10px 20px 20px 20px;
  padding: 15px;
}