
imageuploadbox {
  border: 2px dashed #ccc;
  border-radius: 20px;
  padding: 20px;
  display: block;
}
imageuploadbox.highlight {
  border-color: purple;
  background-color: rgba(233, 233, 233, 0.229);
}
imageuploadbox .image-upload-box-gallery {
  margin-top: 10px;
  padding:0;
}
imageuploadbox progress{
  display:none; 
  width:80%
}
imageuploadbox .progressbar-percent{
  display:none;
  margin-left: 10px;
}
imageuploadbox .files_input{
  display: inline-block;  
  text-align: center;
}
imageuploadbox .button {
  background: none;
  color: #6666ff;
  border: 1px solid #6666ff;
  font-size: 10px ;
  padding: 10px;
  text-transform: uppercase;
  font-weight: bold;

  display: inline-block;
  cursor: pointer;
}
imageuploadbox .button:hover {
  background: #ddd;
}
imageuploadbox .button input{
  display: none;
}

.image-upload-box-gallery .image-item{
  display: inline-block;
  margin: 10px;
}
.image-upload-box-gallery .image-item label{
  display: inline-block;
  margin: 0;
}
.image-upload-box-gallery .image-item .image-container{
  display: block;
  max-width:150px;
  overflow: hidden;
}
.image-upload-box-gallery .image-item .image-container img{
  max-width:150px;
  transform-origin: top left;             /* IE 10+, Firefox, etc. */
  -webkit-transform-origin: top left;     /* Chrome */       
  -ms-transform-origin: top left;         /* IE 9 */
}
.image-upload-box-gallery .image-item .fa-btn{
  display: inline-block;
  cursor:pointer;
  margin-left: 5px;
}
.image-container:hover{
  cursor:move;
}
.image-container.rotate90,
.image-container.rotate270 {
  height: 150px;
}
.image-container.rotate90 img {
  transform: rotate(90deg) translateY(-100%);
  -webkit-transform: rotate(90deg) translateY(-100%);
  -ms-transform: rotate(90deg) translateY(-100%);
  max-height: 150px;
}
.image-container.rotate180 img {
  transform: rotate(180deg) translate(-100%, -100%);
  -webkit-transform: rotate(180deg) translate(-100%, -100%);
  -ms-transform: rotate(180deg) translateX(-100%, -100%);
  max-width: 150px;
}
.image-container.rotate270 img {
  transform: rotate(270deg) translateX(-100%);
  -webkit-transform: rotate(270deg) translateX(-100%);
  -ms-transform: rotate(270deg) translateX(-100%);
  max-height: 150px;
}

imageuploadbox span {
  font-size: 14px;
  letter-spacing: -0.31px;
  color: #d2d1d4;
}