@font-face {
    font-family: TTNorms-Bold;
    src: url(/assets/fonts/TTNorms/TTNorms-Bold.eot); /* Для IE5-8 */
    src: local(TTNorms-Bold), url(/assets/fonts/TTNorms/TTNorms-Bold.ttf); /* Для остальных браузеров */
}
@font-face {
    font-family: TTNorms-Regular;
    src: url(/assets/fonts/TTNorms/TTNorms-Regular.eot); /* Для IE5-8 */
    src: local(TTNorms-Regular), url(/assets/fonts/TTNorms/TTNorms-Regular.ttf); /* Для остальных браузеров */
}
@font-face {
    font-family: TTNorms-Light;
    src: url(/assets/fonts/TTNorms/TTNorms-Light.eot); /* Для IE5-8 */
    src: local(TTNorms-Light), url(/assets/fonts/TTNorms/TTNorms-Light.ttf); /* Для остальных браузеров */
}
@font-face {
    font-family: TTNorms-Medium;
    src: url(/assets/fonts/TTNorms/TTNorms-Medium.eot); /* Для IE5-8 */
    src: local(TTNorms-Medium), url(/assets/fonts/TTNorms/TTNorms-Medium.ttf); /* Для остальных браузеров */
}
.page-title{    
  font-family: TTNorms-Medium;
  font-size: 36px;
  color: #20202D;
  letter-spacing: -0.75px;
  margin: 0 0 20px 0;
}
.navbar-brand{
    padding: 18px 14px;
}
.navbar-org-logo{
    width: 175px;
    height: 15px;
    margin: 28px auto;
}
#navbar-container{
    padding:0 40px;
    margin:0;
    margin-bottom: 20px;  
    background: #FFFFFF;
  box-shadow: 0 2px 10px 0 rgba(103,102,113,0.20);
}
#navbar-container .navbar{
    margin:0;
}
#navbar-main{
    display: flex;
    background: #FFFFFF;
    box-shadow: 0 2px 10px 0 rgba(103,102,113,0.20);
    height: 72px;
    align-items: center;
}
.navbar-toggle{
    margin-right:0;
    background: #fafafb;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 4px 0 rgba(0,0,0,0.10);
}
.navbar-toggle .icon-bar{
    background: #676671;
    color: #000000;
}
.active-nav{
   font-family: TTNorms-Bold !important;
   font-size: 14px ;
   color: #20202D !important;
   letter-spacing: -0.29px;
}
.navbar-nav li {
    font-family: TTNorms-Regular;
    font-size: 14px;
    color: #676671;
    letter-spacing: -0.29px;
}
.navbar-nav li a {
    background: transparent;
    color: #676671;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: rgba(253, 0, 0, 0.01);
}
.cabinet-image{
    border: 1px solid rgba(103,102,113,0.30);
    width: 36px;
    height: 36px;
    display: inline-block;
    border-radius: 50%;
}
#page-preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.95);
    z-index: 100500;
}
#spinner {
    width: 400px;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -150px;
    text-align: center;
    background: url('/assets/img/spinner.gif') no-repeat 70% 70%;
    font: 1.556em/1.3 Gill Sans MT, Gill Sans, My Gill Sans, sans-serif;
}
html{
    min-width: 250px;
}
body{
    font-family: TTNorms-Medium, Verdana, Arial, Helvetica, sans-serif; 
    background: #fafafb;
}
.hidden{
    display: none;
}
.help-div{
    background: #FFFFFF;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 4px 0 rgba(0,0,0,0.10);
    border-radius: 7px;
    padding: 20px;
    margin-bottom: 20px;
}
.help-div .help-title{
    font-family: TTNorms-Medium;
    font-size: 16px;
    color: #20202D;
    letter-spacing: -0.33px;
}
.help-div ul {
    margin-left: 0; /* Отступ слева в браузере IE и Opera */
    padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
}
.help-div li {
    list-style-type: none; /* Убираем маркеры */
    font-family: TTNorms-Light;
    font-size: 16px;
    color: #676671;
    letter-spacing: -0.33px;
    line-height: 25px;
}

.btn-main {
	background: #4948E4;
    border-radius: 7px;
    font-family: TTNorms-Bold;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: -0.29px;

    margin: 20px 0;
	text-transform: uppercase;
	padding: 18px 21px;
	transition: box-shadow .28s cubic-bezier(.4,0,.2,1);
}

.btn-main:hover {
    color: #FFFFFF;
	box-shadow: 0 1px 6px rgba(0,0,0,.4);
}

.btn-main:active {
    color: #FFFFFF;
	box-shadow: 0 5px 11px rgba(0,0,0,.4);
}

.btn-main:focus,
.btn-main:active {
    color: #FFFFFF;
	outline: 0 !important;
}

.sub-title{
    font-family: TTNorms-Medium;
    font-size: 16px;
    color: #20202D;
    letter-spacing: -0.33px;
    margin-bottom: 20px;
}
.inner-div{
    padding:20px;
    background: #FFFFFF;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 4px 0 rgba(0,0,0,0.10);
    border-radius: 7px;
    margin: 0 0 30px 0;
}
.deleted{
	opacity: 0.6;
	background-color: rgba(255, 0, 0, 0.4);
}
input[type=text],
input[type=password],
input[type=email],
select{ 
    padding:15px;
    width: 100%; /*450px;*/
    max-width: 450px;
    height: 52px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin: 8px 0;
    
    font-family: TTNorms-Light;
    font-size: 16px;
    color: #20202D;
    letter-spacing: -0.33px;
    line-height: 25px;
}

.label{
    opacity: 0.7;
    font-family: TTNorms-Light;
    font-size: 14px;
    color: #000000;
    letter-spacing: -0.29px;
    padding: 8px 0;
}
.btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary{
    background-color: #4948E4;
    color: #FFFFFF;
}
.btn-primary{
    background-color: #FFFFFF;

    border-radius: 7px;
    font-family: TTNorms-Bold;
    font-size: 12px;
    color: #000000;
    letter-spacing: -0.29px;

	text-transform: uppercase;
	padding: 18px 12px;
} 
.btn.focus:not(.active){
    background-color: #FFFFFF !important;

    border-radius: 7px;
    font-family: TTNorms-Bold;
    font-size: 12px;
    color: #000000 !important;
    letter-spacing: -0.29px;

	text-transform: uppercase;
	padding: 18px 12px;
}
.btn.focus.active{
    background-color: #4948E4 !important;
    color: #FFFFFF !important;

}
.btn input[type=radio]{
    width: 0;

}
.btn input[type=checkbox]{
    width: 0;
}

.callback-button{
    position: fixed; /* Фиксированное положение */
    right: 10px; /* Расстояние от правого края окна браузера */
    top: 20%; /* Расстояние сверху */
    padding: 10px; /* Поля вокруг текста */ 
    background: #ffe; /* Цвет фона */ 
    border: 1px solid #333; /* Параметры рамки */ 
}
.effect-widget[_ngcontent-c1] .brand[_ngcontent-c1]{
    display: none;
}

#btn-favorite{
	position: absolute;	
	top: 45px; 
	  right: 15px;
	  text-decoration: none !important;
}
#btn-favorite p{
	display: inline;
	opacity: 0.7;
	font-family: TTNorms-Regular;
	font-size: 15px;
	color: #000000;
	letter-spacing: -0.31px;
	padding:  12px 0;
}
#btn-favorite:hover{
	color: #000000;
	opacity: 1;
}
#btn-alarm{
	position: absolute;	
	top: 10px; 
	  right: 15px;
	  text-decoration: none !important;
}
#btn-alarm p{
	display: inline;
	opacity: 0.5;
	font-family: TTNorms-Regular;
	font-size: 15px;
	color: #676671;
	letter-spacing: -0.31px;
	padding:  12px 0;
}
#btn-alarm:hover{
	color: #000000;
	opacity: 1;
}
a.ungranted{
    pointer-events: none;
    cursor: default;
	color: #a0a0a0 !important;
}

.checkbox-select {
	padding: 15px;
}


/* The container */

.checkbox-container {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}


/* Hide the browser's default checkbox */

.checkbox-container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}


/* Create a custom checkbox */

.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
	width: 25px;
	background-color: #eee;
}


/* On mouse-over, add a grey background color */

.checkbox-container:hover input~.checkmark {
	background-color: #ccc;
}


/* When the checkbox is checked, add a blue background */

.checkbox-container input:checked~.checkmark {
	background-color: rgb(37, 206, 46);
}


/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}


/* Show the checkmark when checked */

.checkbox-container input:checked~.checkmark:after {
	display: block;
}


/* Style the checkmark/indicator */

.checkbox-container .checkmark:after {
	left: 9px;
	top: 5px;
	width: 5px;
	height: 10px;
	border: solid rgb(255, 255, 255);
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.checkbox-select-obj{
	display: inline-block;
	padding: 5px;
	width: 115px;
}
#help-slider{
	padding:5px 15px;
	margin:10px 0;
	background-color: white;
}
#help-row{
	background-color: white;
	padding:15px;
}

.dropdown-submenu {
    position: relative;
}
.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px 6px;
    border-radius: 0 6px 6px 6px;
}
.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}
.dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #cccccc;
    margin-top: 5px;
    margin-right: -10px;
}
.dropdown-submenu:hover > a:after {
    border-left-color: #ffffff;
}
.dropdown-submenu.pull-left {
    float: none;
}
.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
.switch-field {
	display: flex;
	margin-bottom: 36px;
	overflow: hidden;
}

.switch-field input {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.switch-field label {
	background-color: #e4e4e4;
	color: rgba(0, 0, 0, 0.6);
	font-size: 14px;
	line-height: 1;
	text-align: center;
	padding: 8px 16px;
	margin-right: -1px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
	transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
	cursor: pointer;
}

.switch-field input:checked + label {
	background-color: #a5dc86;
	box-shadow: none;
}

.switch-field label:first-of-type {
	border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
	border-radius: 0 4px 4px 0;
}
.set-favorite{    
    position: absolute;
    top:0;
    right:0;
    padding : 2px 6px;
}
@media screen and (min-width: 350px) {    
    .navbar-brand{
        padding: 18px 14px;
    }
    
    #navbar-container{
        padding:0 40px;
    }
}
@media screen and (max-width: 350px) {
    .navbar-brand{
        padding: 18px 0;
        margin: 0;
    }
    #navbar-container{
        padding:0 10px;
    }
}
@media screen and (max-width: 600px) {
    #btn-alarm{
        top: 10px;
    }
}
@media screen and (max-width: 450px) {
    #original-url{
        font-size: 12pt;
    }
}