.overlay_ {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.75);
    opacity: 0;
    pointer-events: none;
    transition: 0.35s ease-in-out;
    max-height: 100vh;
    overflow-y: auto;
  }
  .overlay_.open {
    opacity: 1;
    pointer-events: inherit;
    z-index: 1050;
  }
  .overlay_ .modal-page {
    background: white;
    text-align: center;
    padding: 30px 60px;
    box-shadow: 0px 1px 10px rgba(255, 255, 255, 0.35);
    opacity: 0;
    pointer-events: none;
    transition: 0.35s ease-in-out;
    max-height: 100vh;
    overflow-y: auto;
    width:90%;
    height:90%;
  }
  .overlay_ .modal-page.open {
    opacity: 1;
    pointer-events: inherit;
  }
  .overlay_ .modal-page.open .content {
    transform: translate(0, 0px);
    opacity: 1;
  }
  .overlay_ .modal-page .content {
    transform: translate(0, -10px);
    opacity: 0;
    transition: 0.35s ease-in-out;
  }
  .overlay_ .modal-page pre {
    text-align: left;
  }
  .overlay_ .modal-page .title {
    margin-top: 0;
  }

@media screen and (max-width: 600px) {  
  .overlay_ .modal-page {
      padding: 10px 15px;
  }
}
