
#page-preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.95);
  z-index: 100500;
}
#spinner {
  width: 400px;
  height: 300px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -200px;
  margin-top: -150px;
  text-align: center;
  background: url('/assets/img/spinner.gif') no-repeat 70% 70%;
  font: 1.556em/1.3 Gill Sans MT, Gill Sans, My Gill Sans, sans-serif;
}