body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background: #eee;
	/* Цвет фона */
	background: #f7f7f7 url(/assets/img/background.png);
}

.row {
	background: white;
	margin: 15px auto;
	padding: 15px;
}

.row.row-eq-height {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.phone-number {
	text-decoration: none;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	padding: 12px 53px 12px 23px;
	color: #fff;
	text-transform: uppercase;
	font-family: sans-serif;
	font-weight: bold;
	position: relative;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	display: inline-block;
}

.phone-number span {
	position: relative;
	z-index: 3;
}

.phone-number .round {
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	width: 38px;
	height: 38px;
	position: absolute;
	right: 3px;
	top: 3px;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	z-index: 2;
}

.phone-number .round i {
	position: absolute;
	top: 50%;
	margin-top: -6px;
	left: 50%;
	margin-left: -4px;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.txt {
	font-size: 14px;
	line-height: 1.45;
}

.container-fluid {
	margin: 0 3%;
}

.fotorama {
	margin: auto;
	/*background-color: rgba(253, 197, 43, 0.01);*/
}

.fotorama__wrap {
	margin: 0 auto;
}

.header-result {
	min-height: 100%;
}
#send{	
	position: fixed;
	bottom: 15px;
	opacity: 0;	
}
.header-manager {
	/* Поля вокруг текста */
	margin: auto;
	text-align: center;
	display: inline-block;
}

.header-logo {
	padding: 15px;	
	margin: auto;
	height: 100%;
	width: 90%;
	float: inherit;
	max-width: 100%;
	display: inline-block;
}

.org-logo-big {
	margin: auto;
	padding: 15px;
	display: flex;
	align-items: center;
	max-height: 300px;
	max-width: 100%;
}

.header-info {
	/* Поля вокруг текста */
	margin: auto;
	height: 100%;
	display: inline-block;
}

.org-name {
	font-size: 18pt;
}

.org-adress {
	font-size: 14pt;
}

.org-email.a:link {
	color: black;
	text-decoration: none;
}

.org-email.a:hover {
	color: black;
	text-decoration: none;
}

.org-email.a:visited {
	color: black;
	text-decoration: none;
}

.org-site.a:link {
	color: black;
	text-decoration: none;
}

.org-site.a:hover {
	color: black;
	text-decoration: none;
}

.page {}
.selected-page{
	background-color: rgba(0, 255, 85, 0.5);
}
.page-title {
	padding: 10px;
	/* Поля вокруг текста */
}

.page-adress {
	font-size: 18pt;
	/* Размер шрифта в пунктах */
}

.page-cost {
	font-size: 12pt;
	/* Размер шрифта в пунктах */
}

.description {
	padding: 10px;
	/* Поля вокруг текста */
}

.footer-result {
	padding: 25px 5px;
}

.footer-info {
	margin: auto;
}

p.user-name {
	font-size: 16pt;
}

.phone-number {
	background-color: #00AFD1;
}

.phone-number .round {
	background-color: #00c4eb;
}

.user-tagline {
	margin: auto;
	padding: 15px;
	font-size: 16pt;
	font-style: italic;
	max-width: 300px;
}

.user-photo {
	margin: auto;
	padding: 15px;
	display: flex;
	align-items: center;
	max-height: 300px;
}

.call-me-btn {
	margin: 10px 0;
}

.call-me-btn a:hover {
	padding-left: 48px;
	padding-right: 28px;
}

.call-me-btn a:hover .round {
	width: calc(100% - 6px);
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
}

.call-me-btn a:hover .round i {
	left: 12%;
}

#popup__toggle {
	bottom: 25px;
	right: 20px;
	position: fixed;
	z-index: 999;
}

.img-circle {
	background-color: #29AEE3;
	box-sizing: content-box;
	-webkit-box-sizing: content-box;
}

.circlephone {
	box-sizing: content-box;
	-webkit-box-sizing: content-box;
	border: 2px solid #29AEE3;
	width: 150px;
	height: 150px;
	bottom: -25px;
	right: 10px;
	position: absolute;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	opacity: .5;
	-webkit-animation: circle-anim 2.4s infinite ease-in-out !important;
	-moz-animation: circle-anim 2.4s infinite ease-in-out !important;
	-ms-animation: circle-anim 2.4s infinite ease-in-out !important;
	-o-animation: circle-anim 2.4s infinite ease-in-out !important;
	animation: circle-anim 2.4s infinite ease-in-out !important;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-o-transition: all .5s;
	transition: all 0.5s;
}

.circle-fill {
	box-sizing: content-box;
	-webkit-box-sizing: content-box;
	background-color: #29AEE3;
	width: 100px;
	height: 100px;
	bottom: 0px;
	right: 35px;
	position: absolute;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	border: 2px solid transparent;
	-webkit-animation: circle-fill-anim 2.3s infinite ease-in-out;
	-moz-animation: circle-fill-anim 2.3s infinite ease-in-out;
	-ms-animation: circle-fill-anim 2.3s infinite ease-in-out;
	-o-animation: circle-fill-anim 2.3s infinite ease-in-out;
	animation: circle-fill-anim 2.3s infinite ease-in-out;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-o-transition: all .5s;
	transition: all 0.5s;
}

.img-circle {
	box-sizing: content-box;
	-webkit-box-sizing: content-box;
	width: 72px;
	height: 72px;
	bottom: 14px;
	right: 49px;
	position: absolute;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	border: 2px solid transparent;
	opacity: .7;
}

.img-circleblock {
	box-sizing: content-box;
	-webkit-box-sizing: content-box;
	width: 72px;
	height: 72px;
	background-image: url(/assets/img/phone-call.png);
	background-position: center center;
	background-repeat: no-repeat;
	animation-name: tossing;
	-webkit-animation-name: tossing;
	animation-duration: 1.5s;
	-webkit-animation-duration: 1.5s;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

.img-circle:hover {
	opacity: 1;
}

@keyframes pulse {
	0% {
		transform: scale(0.9);
		opacity: 1;
	}
	50% {
		transform: scale(1);
		opacity: 1;
	}
	100% {
		transform: scale(0.9);
		opacity: 1;
	}
}

@-webkit-keyframes pulse {
	0% {
		-webkit-transform: scale(0.95);
		opacity: 1;
	}
	50% {
		-webkit-transform: scale(1);
		opacity: 1;
	}
	100% {
		-webkit-transform: scale(0.95);
		opacity: 1;
	}
}

@keyframes tossing {
	0% {
		transform: rotate(-8deg);
	}
	50% {
		transform: rotate(8deg);
	}
	100% {
		transform: rotate(-8deg);
	}
}

@-webkit-keyframes tossing {
	0% {
		-webkit-transform: rotate(-8deg);
	}
	50% {
		-webkit-transform: rotate(8deg);
	}
	100% {
		-webkit-transform: rotate(-8deg);
	}
}

@-moz-keyframes circle-anim {
	0% {
		-moz-transform: rotate(0deg) scale(0.5) skew(1deg);
		opacity: .1;
		-moz-opacity: .1;
		-webkit-opacity: .1;
		-o-opacity: .1;
	}
	30% {
		-moz-transform: rotate(0deg) scale(0.7) skew(1deg);
		opacity: .5;
		-moz-opacity: .5;
		-webkit-opacity: .5;
		-o-opacity: .5;
	}
	100% {
		-moz-transform: rotate(0deg) scale(1) skew(1deg);
		opacity: .6;
		-moz-opacity: .6;
		-webkit-opacity: .6;
		-o-opacity: .1;
	}
}

@-webkit-keyframes circle-anim {
	0% {
		-webkit-transform: rotate(0deg) scale(0.5) skew(1deg);
		-webkit-opacity: .1;
	}
	30% {
		-webkit-transform: rotate(0deg) scale(0.7) skew(1deg);
		-webkit-opacity: .5;
	}
	100% {
		-webkit-transform: rotate(0deg) scale(1) skew(1deg);
		-webkit-opacity: .1;
	}
}

@-o-keyframes circle-anim {
	0% {
		-o-transform: rotate(0deg) kscale(0.5) skew(1deg);
		-o-opacity: .1;
	}
	30% {
		-o-transform: rotate(0deg) scale(0.7) skew(1deg);
		-o-opacity: .5;
	}
	100% {
		-o-transform: rotate(0deg) scale(1) skew(1deg);
		-o-opacity: .1;
	}
}

@keyframes circle-anim {
	0% {
		transform: rotate(0deg) scale(0.5) skew(1deg);
		opacity: .1;
	}
	30% {
		transform: rotate(0deg) scale(0.7) skew(1deg);
		opacity: .5;
	}
	100% {
		transform: rotate(0deg) scale(1) skew(1deg);
		opacity: .1;
	}
}

@-moz-keyframes circle-fill-anim {
	0% {
		-moz-transform: rotate(0deg) scale(0.7) skew(1deg);
		opacity: .2;
	}
	50% {
		-moz-transform: rotate(0deg) -moz-scale(1) skew(1deg);
		opacity: .2;
	}
	100% {
		-moz-transform: rotate(0deg) scale(0.7) skew(1deg);
		opacity: .2;
	}
}

@-webkit-keyframes circle-fill-anim {
	0% {
		-webkit-transform: rotate(0deg) scale(0.7) skew(1deg);
		opacity: .2;
	}
	50% {
		-webkit-transform: rotate(0deg) scale(1) skew(1deg);
		opacity: .2;
	}
	100% {
		-webkit-transform: rotate(0deg) scale(0.7) skew(1deg);
		opacity: .2;
	}
}

@-o-keyframes circle-fill-anim {
	0% {
		-o-transform: rotate(0deg) scale(0.7) skew(1deg);
		opacity: .2;
	}
	50% {
		-o-transform: rotate(0deg) scale(1) skew(1deg);
		opacity: .2;
	}
	100% {
		-o-transform: rotate(0deg) scale(0.7) skew(1deg);
		opacity: .2;
	}
}

@keyframes circle-fill-anim {
	0% {
		transform: rotate(0deg) scale(0.7) skew(1deg);
		opacity: .2;
	}
	50% {
		transform: rotate(0deg) scale(1) skew(1deg);
		opacity: .2;
	}
	100% {
		transform: rotate(0deg) scale(0.7) skew(1deg);
		opacity: .2;
	}
}

.fixedbut {
	position: fixed;
	bottom: 20px;
	right: 20px;
	display: block;
	background: #2db700;
	color: #fff;
	text-decoration: none;
	padding: 6px 10px;
	font-size: 17px;
}
.fixedbut-inner{
	color: #fff;
	padding: 3px 10px;
}
.fixedbut-inner:hover {
	background: #222;
}

.btn {
	text-transform: uppercase;
	padding: 10px 15px;
	margin: auto;
	font-size: 14px;
	transition: box-shadow .28s cubic-bezier(.4, 0, .2, 1);
	background-color: rgba(253, 197, 43, 1);
}

.btn:hover {
	box-shadow: 0 1px 6px rgba(0, 0, 0, .4);
}

.btn:active {
	box-shadow: 0 5px 11px rgba(0, 0, 0, .4);
}

.btn:focus,
.btn:active {
	outline: 0 !important;
}
.checkbox-select {
	padding: 15px;
}


/* The container */

.checkbox-container {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}


/* Hide the browser's default checkbox */

.checkbox-container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}


/* Create a custom checkbox */

.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
	width: 25px;
	background-color: #eee;
}


/* On mouse-over, add a grey background color */

.checkbox-container:hover input~.checkmark {
	background-color: #ccc;
}


/* When the checkbox is checked, add a blue background */

.checkbox-container input:checked~.checkmark {
	background-color: rgb(37, 206, 46);
}


/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}


/* Show the checkmark when checked */

.checkbox-container input:checked~.checkmark:after {
	display: block;
}


/* Style the checkmark/indicator */

.checkbox-container .checkmark:after {
	left: 9px;
	top: 5px;
	width: 5px;
	height: 10px;
	border: solid rgb(255, 255, 255);
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.deleted{
	opacity: 0.6;
	background-color: rgba(255, 0, 0, 0.4);
}


@media screen and (max-width: 420px) {    
	.send-email-btn{
		font-size: 3vw;
		width: 60%;		
	}	
	#send{
		margin-left: 3%;
		left: 25px;
	}
	.img-circle {
		width: 49px;
		height: 49px;
		bottom: 0;
		right: 0;
	}
	.img-circleblock{
		width: 36px;
		height: 36px;
		right: 5px;
		bottom: 8px;
		position: absolute;

	}
	.circle-fill{
		width: 62px;
		height: 62px;
		bottom: -7px;
		right: -7px;
	}
	.circlephone{
		display: none;
	}
}
@media screen and (min-width: 420px) {   
	.send-email-btn{
		font-size: 14px;
		width: 100%;
	}
	#send{
		margin-left: 3%;
		left: 10%;
	}
}
@media screen and (max-width: 700px) {    
	.flex-header{}
}
@media screen and (min-width: 700px) {    
	.flex-header{
		display: flex;	
	}
	#send{
		margin-left: 3%;
		left: 27%;
	}
}