.settings-form{
    margin: 0;
    padding: 0;	
}
.settings-form div{
    margin: 0;
    padding: 0;	
}
.org-logo{
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    width: 235px;
    margin: 8px 0;
}
.user-photo{
    margin: 20px;
	width: 200px;
}
.not-activated{
    color: gray;
    opacity: 0.5;
    font-weight: bold;
}
.grant-select{
    padding:5px;
    font-size: 14px;
    margin:0;
    height:34px;
    width:100%;
}
