.spinner-content {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.556);
    width: 100%;
    height: 100%;
    z-index: 999;
    margin: -10px;
    display: none;
}

.lds-ring {
    position: absolute;
    left: 48%;
    top: 45%;
    /*display: inline-block;
    position: relative;*/
    width: 64px;
    height: 64px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 51px;
    height: 51px;
    margin: 6px;
    border: 6px solid #fed;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #6666ff transparent transparent transparent;
    /*#fed*/
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}