#result {
    margin: 30px auto;
    padding: 20px;
    background: #FFFFFF;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 4px 0 rgba(0, 0, 0, 0.10);
    border-radius: 7px;
}

#result-title {
    font-family: TTNorms-Medium;
    font-size: 16px;
    color: #20202D;
    letter-spacing: -0.33px;
}

#result-content {
    font-family: TTNorms-Light;
    font-size: 16px;
    color: #676671;
    letter-spacing: -0.33px;
    line-height: 25px;
}

.result-link {
    font-family: TTNorms-Light;
    font-size: 16px;
    color: #4948E4;
    letter-spacing: -0.33px;
    line-height: 25px;
}

.create-page-btn {
    margin: 10px 0;
}

#linksTextArea {
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 4px 0 rgba(0, 0, 0, 0.10);
    border-radius: 7px;
    padding: 20px;
}


/* fadeouts of placeholder in focus */

#linksTextArea::-webkit-input-placeholder {
    transition: opacity 0.3s ease;
    opacity: 0.3;
    font-family: TTNorms-Light;
    font-size: 16px;
    color: #676671;
    letter-spacing: -0.33px;
    line-height: 25px;
}

#linksTextArea::-moz-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

#linksTextArea:-moz-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

#linksTextArea:-ms-input-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

#linksTextArea:focus::-webkit-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

#linksTextArea:focus::-moz-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

#linksTextArea:focus:-moz-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

#linksTextArea:focus:-ms-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.help-video {
    margin-top: 15px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    padding-top: 5px;
}